@model WebApplication4.Models.Exam

@{
    ViewBag.Title = "Test";
    int number = 0;
}

<h2>Details</h2>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

    </dl>
    <form name="text1" method="post">
        @Html.Hidden("ExamID", Model.ExamID)
        @foreach (var item in Model.Questions)
        {
            number++;
            <div class="question">
                <div>
                    <h3>@Html.DisplayFor(modelItem => item.Desc)</h3>
                </div>
                <p>
                    @Html.RadioButton(number.ToString(), 1)
                    @Html.DisplayFor(modelItem => item.DescA)
                </p><p>
                    @Html.RadioButton(number.ToString(), 2)
                    @Html.DisplayFor(modelItem => item.DescB)
                </p>
                <p>
                    @Html.RadioButton(number.ToString(), 3)
                    @Html.DisplayFor(modelItem => item.DescC)
                </p>
                <p>
                    @Html.RadioButton(number.ToString(), 4)
                    @Html.DisplayFor(modelItem => item.DescD)
                </p>
               

            </div>

        }
        <input type="submit" value="Zatwierdź" class="btn btn-default" />
    </form>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExamID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


